* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

code {
  background-color: #eee;
  padding: 2px;
}
pre {
  padding: 20px;
  margin: 1.2em 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  overflow: auto;
  background-color: #f9fafc;
  border: 1px solid #eaeefb;
  border-radius: 5px;

  code {
    background-color: inherit;
    padding: 0;
  }
}
